/* base */
html{
    scroll-behavior: smooth;
}

/* nav start */
.nav {
    /* background-color: #090909; */
    overflow: hidden;
    justify-content: center;
    font-weight: bold;
    /* padding: 10px;
    padding-top: 15px; */

}

.nav a {
    font-size: 20px;
    text-align: center;
    float:left;
    color: #000000;
    text-decoration: none;
    padding: 10px 12px;
    margin: 5px;
}

.nav a.ahov:hover{
    background-color: #7d7ea9;
    color:#0b0a0b;
    border-radius: 10px;
}
.nav a.active{
    background-color: #FBCFE8;
    color:#090909;
    font-weight: bold;
    border-radius: 7px;
}
.nav a.btn2{
    background-color: #84A1BE;
    color:#FFFFFF;
    border-radius: 7px;
}
.nav a.btn1{
    background-color: #FFB400;
    color:#FFFFFF;
    border-radius: 7px;
}
.nav a.btn3{
    background-color: #84A1BE;
    color:#FFFFFF;
    border-radius: 7px;
}
.nav a.btn4{
    background-color: #84A1BE;
    color:#FFFFFF;
    border-radius: 7px;
}

/* nav section css end */

/* Customer Of This Month */
.Customer-card{
    /* border: 1px solid #43445e; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 30%;
    height: 10%;
    padding: 2px;
    margin: 5px;

}
.Customer-card-image{
    width: 100%;
    height: auto;
    position: relative;

}
.Customer-card-text{
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: x-large;
}

.Customer-banner{

    display: flex;
    flex-direction: row;
    flex-basis:10%;
    align-items: center;
    justify-self:center;
    padding-left: 5ric ;
    margin-left: 3ric;
    position: relative;


}
/*Customer Of This Month */
/* top-banner start*/

.ban-img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-text{
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 2em;
    font-weight:400;
    font-family: 'Inria Serif', serif;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    
}
.txt1{
    font-size: 70px;
    font-weight: bold;
    color: #FFF7D4;
    font-family: 'Inria Serif', serif;

}

.txt2{
    font-size: 70px;
    font-weight: bold;
    color: #EEC759;
    font-family: 'Inria Serif', serif;
}


/* top-banner end */
/* Letest Demo Video */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    }
    .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
/* Contact start */

.con-img{
    height: auto;
    width: 15%;
    border-radius: 3%;
}

/* contact end */
/* About US */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr; */
    justify-items: center;
    column-gap: 10px;
    /* row-gap: 1em; */
}
.grid-one img{
    height: auto;
    width: 30em;
}
.grid-first img{
    border-radius: 1em;
    margin-left: 5px;
}
.grid-second{
    font-family: Arial, sans-serif;
}
 .grid-second p{
    line-height: 1.6;
    margin-bottom: 15px;
    background-color: #F5F7F8;
    color: #43445e;
    padding: 1em;
    border-radius: 5%;
  }

strong{
    font-weight: bold;
    
  }
  em {
    font-style: italic;
  }
/* About US end */
/* footer */

.footer{
     display: flex;
    flex-direction: row;
    column-gap: 3rem;
    justify-content:space-between;
    background-color: #F3EEEA;
    color: black;
}
.footer p{
    background-color: #C8C6C6;
    padding: 1em;
    border-radius: 5%;
  }
.bg-color{
    background-color: #F3EEEA;
}
.bg-warnings{
    /* background-color: #A9A9A9; */
    padding:15px;
    padding-left: 3em;
    padding-right: 3em;
}
.bg-darks{
    /* background-color: #A9A9A9; */
    padding:15px;
    padding-left: 3em;
    padding-right: 3em;
}
.image{
    height: 20%;
    width: auto;
}

.opening-hours-ul{
    list-style:none;
}
.payment1{
    height:auto;
    width: 20%;
    padding:5px;
}
.payment2{
    height:auto;
    width: 20%;
    padding:5px;
}
.payment3{
    height:auto;
    width: 20%;
    padding:5px;
}
.payment4{
    height:auto;
    width: 20%;
    padding:5px;
}
.social-media a{
    text-decoration: none;
}
.e-shop{
    text-decoration: none;
    color: #7d7ea9;
}

/* footer end */