
.nav {
    /* background-color: #090909; */
    overflow: hidden;
    justify-content: center;
    font-weight: bold;
    /* padding: 10px;
    padding-top: 15px; */

}

.nav a {
    font-size: 20px;
    text-align: center;
    float:left;
    color: #000000;
    text-decoration: none;
    padding: 10px 12px;
    margin: 5px;
}

.nav a.ahov:hover{
    background-color: #7d7ea9;
    color:#0b0a0b;
    border-radius: 10px;
}
.nav a.active{
    background-color: #FBCFE8;
    color:#090909;
    font-weight: bold;
    border-radius: 7px;
}
.nav a.btn2{
    background-color: #84A1BE;
    color:#FFFFFF;
    border-radius: 7px;
}
.nav a.btn1{
    background-color: #FFB400;
    color:#FFFFFF;
    border-radius: 7px;
}
.nav a.btn3{
    background-color: #84A1BE;
    color:#FFFFFF;
    border-radius: 7px;
}
.nav a.btn4{
    background-color: #84A1BE;
    color:#FFFFFF;
    border-radius: 7px;
}

/* nav section css end */

/* footer */

.footer{
    display: flex;
    flex-direction: row;
    /* row-gap: 10px; */
    justify-content: space-evenly;
    background-color: #F3EEEA;
    color: black;
}
.bg-warnings{
    /* background-color: #A9A9A9; */
    padding:15px;
    padding-left: 3em;
    padding-right: 3em;
}
.bg-darks{
    /* background-color: #A9A9A9; */
    padding:15px;
    padding-left: 3em;
    padding-right: 3em;
}
.image{
    height: 200px;
    width: 200px;
}
.payment1{
    height:100px;
    width: 100px;
}
.payment2{
    height: 70px;
    width: 80px;
}
.payment3{
    height: 90px;
    width: 100px;
}
.payment4{
    height: 90px;
    width: 100px;
}
/* footer end */